/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #e5e5e5;
  /* #303841;*/
  --main-black: #363636;
} 

/*Fonts
font-family: 'Gentium Plus', serif;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/



/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

@media (max-height: 800px){
    p {
      font-size: 20px;
    }
}
 
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

 li {
  display: inline;
 }
 
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;

}

li a:hover {
  background-color: gray;
}


hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
  
 body {
	background-color: var(--main-black);
	color: var(--main-gray);
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 1.8rem; /*18px*/
	font-weight: 400;
	line-height: 1.4;
}

h1,
h2 {
	background-color: var(--main-black);
	color: var(--main-white);
	text-align: center;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 6rem;
}

p {
	background-color: var(--main-black);
	color: var(--main-gray);
	text-align: center;
	font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

/*Navigation bar*/

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-gray);
  color: gray;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem; /*qué tan lejos del margen derecho*/
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: gray;
}

/*Welcome section*/

.welcome-section, .blog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-gray);
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-white);
}

details {
	padding: 4px;
	width: 200px;
	font-size: 2rem;
	cursor: pointer;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  gap: 50px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  padding: 10px;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

/*Contact Section*/

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-black);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex; 
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 2rem;
  padding: 10x;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
}

.contact-details:hover {
  transform: translateY(8px);
}

.fa-linkedin {
	color: #0A66C2;
}
.fa-github {
	color: var(--main-gray);
}
.fa-soundcloud {
	background: linear-gradient(120deg, #ff8800, #ff3300);

}
.fa-twitter {
	color: #1DA1F2;
}
.fa-youtube {
	color: #FF0000;
}
.fa-itch-io {
	color: #fa5c5c
}

.one {
	color: green;
}

.container {
  border-radius: 5px;
  background-color: none;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.button {
  transition-duration: 0.4s;	
  border: black;
  border-radius: 12px;
  color: black;
  background-color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: black; 
  color: white;
  border: white;
}

footer {
	position: absolute;
	bottom: 0;
}