body {
	background-color: #363636;
	color: #e5e5e5;
	text-align: center;
}
h1{
	background-color: #363636;
	color: #ffffff;
	text-align: center;
}
p {
	background-color: #363636;
	color: #e5e5e5;
	text-align: center;
}